/* FONTS
  -------------------------------------------------- */

  @import url('http://fonts.cdnfonts.com/css/lovelyn');

  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* GLOBAL STYLES
  -------------------------------------------------- */

html, body{
    /* background-image: url('https://i.gifer.com/6ROf.gif') !important;  */
    background-image: url('../images/fondo.jpg')  !important;
    background-size: cover;
    background-position: center;
    


    height: 100vh;
    padding:0;
    margin:0;
    overflow: hidden;
}

.content img{
    width: 250px;
    height: 200px;
    position: relative;
    left:58px;
    top: -740px;
}

.content ul{
    font-weight: bolder;
    font-family: 'MedievalSharp', cursive;
    position: relative;
    width:200px;
    left:50px;
    top: -730px;
}

.decFrame{
    position: relative;
    left:-30px;
    top:-20px;
    width:420px;
    height: 580px;

}

.myBtn{
    background-color: transparent !important;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    width:400px;
    height:500px;
    position: relative;
    top: 50px; 
}

.pBtn{
    position:relative;
    top:-40px; 
    left:-260px;
    width: 200px;
    height: 70px;
}
.nBtn{
    position:relative;
    top:-124px; 
    left:258px;
    width: 200px;
    height: 70px;
}



.btn{
    width: auto;
}

.content{
    align-items: center;
}
  
.navbar-art{
font-family: 'Lovelyn', sans-serif;  
font-size: large;                       
font-weight: bold;                    
background-color: #202326 !important;
}
  
.navbar-art a{
color: rgb(251, 255, 248);
}

.navbar-toggler-icon{
    color: azure;
}

li {
    color: rgb(27, 37, 37);
}